<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="requestIdGenerator" class="org.example.demo.RequestIdGenerator" />

    <bean id="primaryServiceB" class="org.example.demo.ServiceB" />
    <bean id="secondaryServiceB" class="org.example.demo.ServiceB" />

    <bean id="serviceC" class="org.example.demo.ServiceC">
        <constructor-arg ref="requestIdGenerator" />
    </bean>

</beans>